In [5]:
import pandas as pd

df = pd.read_excel("./files/time_series.xlsx")
df.head(10)

            timestamp value
0 2025-06-28 12:00:52  18.5
1 2025-06-01 04:17:23  46.3
2 2025-06-10 17:02:57    76
3 2025-06-23 05:23:22  56.4
4 2025-06-05 07:20:08  67.9
5 2025-06-26 22:27:02    87
6 2025-06-06 01:15:50  12.6
7 2025-06-07 05:18:46  51.3
8 2025-06-19 04:31:51  52.9
9 2025-06-13 02:58:59  44.3

In [ ]:
for i in range(df.shape[0]):
    print(df[["timestamp"]])