In [8]:
import pandas as pd

df = pd.read_excel("./files/time_series.xlsx")
df.head(10)

            timestamp value
0 2025-06-28 12:00:52  18.5
1 2025-06-01 04:17:23  46.3
2 2025-06-10 17:02:57    76
3 2025-06-23 05:23:22  56.4
4 2025-06-05 07:20:08  67.9
5 2025-06-26 22:27:02    87
6 2025-06-06 01:15:50  12.6
7 2025-06-07 05:18:46  51.3
8 2025-06-19 04:31:51  52.9
9 2025-06-13 02:58:59  44.3

In [24]:
# for i in range(int(df.shape[0])): 
#     if(df["timestamp"][i:i+1].dtype!='datetime64[ns]'):
#         df["valid"] = False
#         print(i)
#     else:
#         df["valid"] = True
    
print(df.head())
# datetime64[ns] אחרי בדיקה שסוג העמודה הוא 
df_datesOnFormat = df[df['timestamp'].isna() == False]
print(df_datesOnFormat.shape)

            timestamp value
0 2025-06-28 12:00:52  18.5
1 2025-06-01 04:17:23  46.3
2 2025-06-10 17:02:57    76
3 2025-06-23 05:23:22  56.4
4 2025-06-05 07:20:08  67.9
(1000000, 2)

In [25]:
# df_datesOnFormat = df[df['valid']== True]
# print(df_datesOnFormat)
boolean = df_datesOnFormat.duplicated(subset=['timestamp']).any()
print(boolean)
df_datesOnFormat["timestamp"].value_counts()

True

2025-06-26 03:00:40    6
2025-06-28 10:00:19    6
2025-06-27 13:47:46    6
2025-06-02 20:42:15    6
2025-06-24 08:34:45    6
                      ..
2025-06-27 19:46:44    1
2025-06-08 20:32:54    1
2025-06-03 13:21:01    1
2025-06-25 17:18:58    1
2025-06-10 08:36:18    1
Name: timestamp, Length: 829625, dtype: int64

In [40]:

print(df.shape)
if(boolean):
    df_filtered_duplicates = df_datesOnFormat.drop_duplicates(subset=['timestamp'], keep='last')
    print("droped")
df_filtered_duplicates["timestamp"].value_counts()

df_filtered_duplicates['value'] = pd.to_numeric(df_filtered_duplicates['value'], errors='coerce')
df_filtered = df_filtered_duplicates.dropna(subset=['value'])
print(df_filtered)

(1000000, 2)
droped
                 timestamp  value
1      2025-06-01 04:17:23   46.3
2      2025-06-10 17:02:57   76.0
3      2025-06-23 05:23:22   56.4
5      2025-06-26 22:27:02   87.0
7      2025-06-07 05:18:46   51.3
...                    ...    ...
999994 2025-06-19 09:33:44   77.1
999995 2025-06-21 18:41:04   44.8
999997 2025-06-24 18:51:12    3.9
999998 2025-06-10 08:36:18   77.0
999999 2025-06-05 22:30:46   43.3

[706045 rows x 2 columns]

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_10420\345390613.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_duplicates['value'] = pd.to_numeric(df_filtered_duplicates['value'], errors='coerce')

In [41]:
df_filtered['hour'] = df_filtered['timestamp'].dt.hour
df_filtered['date'] = df_filtered['timestamp'].dt.date
sum_result = df_filtered[['date', 'hour','value']].groupby(['date','hour']).sum()
print(sum_result)

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_10420\2103633473.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['hour'] = df_filtered['timestamp'].dt.hour
C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_10420\2103633473.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['timestamp'].dt.date

                   value
date       hour
2025-06-01 0     52407.0
           1     51202.6
           2     49367.3
           3     52168.9
           4     47693.8
...                  ...
2025-06-30 19    46656.9
           20    49080.1
           21    50273.3
           22    49755.2
           23    50760.5

[720 rows x 1 columns]

In [79]:
def split_df_to_excel_files_byRange(df, rows_range, path ):
    index = 0;
    for j in range(rows_range.shape[0]):
        print("before",index,rows_range[j])
        df_to_excel = df[index:index+rows_range[j]]
        index = rows_range[j]+1
        print("after",index,rows_range[j])
 
        print(df_to_excel)
                
    #         print("i",i)
        #     print(df[i:])
        #     print(df_to_excel)
    #         df_to_excel.to_excel(f"./files/logs/log{i}.xlsx", sheet_name="data", index=False, header=False)
#             df_to_excel.to_excel(f"{path}{i}.xlsx", sheet_name="data", index=False, header=False)

In [80]:
sum_result1 = df_filtered[['date', 'hour','value']].groupby(['date']).count()
print(df_filtered.shape)
split_df_to_excel_files_byRange(df_filtered, sum_result1['hour'] , "./files/time_serieses/time_series" )
23860

(706045, 4)
before 0 23861
after 23862 23861
                 timestamp  value  hour        date
1      2025-06-01 04:17:23   46.3     4  2025-06-01
332987 2025-06-01 19:59:33   54.1    19  2025-06-01
65621  2025-06-01 21:07:48   88.2    21  2025-06-01
65617  2025-06-01 20:04:17   35.5    20  2025-06-01
333162 2025-06-01 22:59:17    1.4    22  2025-06-01
...                    ...    ...   ...         ...
202730 2025-06-01 07:41:01   36.2     7  2025-06-01
978992 2025-06-01 08:18:55   26.9     8  2025-06-01
951891 2025-06-01 11:59:13   17.4    11  2025-06-01
924558 2025-06-01 00:37:46    2.5     0  2025-06-01
957303 2025-06-01 17:51:06   25.3    17  2025-06-01

[23861 rows x 4 columns]
before 23862 23436
after 23437 23436
                 timestamp  value  hour        date
157405 2025-06-02 19:48:02   99.6    19  2025-06-02
696866 2025-06-02 16:57:58   49.3    16  2025-06-02
419410 2025-06-02 17:44:46   54.1    17  2025-06-02
729271 2025-06-02 12:38:24   73.2    12  2025-06-02
229812 2025-06-02 04:41:20   88.4     4  2025-06-02
...                    ...    ...   ...         ...
876134 2025-06-02 05:41:12   46.3     5  2025-06-02
305480 2025-06-02 12:03:19   30.2    12  2025-06-02
535813 2025-06-02 23:14:36   67.5    23  2025-06-02
997866 2025-06-02 06:31:39   69.5     6  2025-06-02
462734 2025-06-03 05:27:04   64.7     5  2025-06-03

[23436 rows x 4 columns]
before 23437 23649
after 23650 23649
                 timestamp  value  hour        date
892185 2025-06-01 22:47:13   83.9    22  2025-06-01
957535 2025-06-01 19:46:54    4.1    19  2025-06-01
240994 2025-06-01 17:57:46   29.7    17  2025-06-01
240948 2025-06-01 14:13:26   65.3    14  2025-06-01
888669 2025-06-01 19:00:14   75.2    19  2025-06-01
...                    ...    ...   ...         ...
33893  2025-06-02 07:55:38   57.5     7  2025-06-02
244109 2025-06-02 05:52:50   87.6     5  2025-06-02
305366 2025-06-02 09:02:47   37.8     9  2025-06-02
4511   2025-06-02 05:04:37   28.0     5  2025-06-02
794260 2025-06-02 23:11:02   88.3    23  2025-06-02

[23649 rows x 4 columns]
before 23650 23535
after 23536 23535
                 timestamp  value  hour        date
259021 2025-06-01 05:49:58   26.8     5  2025-06-01
999690 2025-06-01 03:31:54   82.4     3  2025-06-01
61     2025-06-01 07:59:40   85.5     7  2025-06-01
924718 2025-06-01 21:27:45   44.3    21  2025-06-01
202696 2025-06-01 11:23:54   77.8    11  2025-06-01
...                    ...    ...   ...         ...
803182 2025-06-02 07:37:21   45.2     7  2025-06-02
983848 2025-06-02 00:26:09   24.5     0  2025-06-02
876205 2025-06-02 21:20:36   96.8    21  2025-06-02
913341 2025-06-02 20:21:41   89.3    20  2025-06-02
986091 2025-06-02 03:09:37   72.3     3  2025-06-02

[23535 rows x 4 columns]
before 23536 23598
after 23599 23598
                 timestamp  value  hour        date
979329 2025-06-01 05:34:56   71.9     5  2025-06-01
979332 2025-06-01 06:10:34   79.9     6  2025-06-01
950776 2025-06-01 08:01:37   99.2     8  2025-06-01
958362 2025-06-01 17:59:20   87.0    17  2025-06-01
241403 2025-06-01 03:43:21   59.8     3  2025-06-01
...                    ...    ...   ...         ...
983845 2025-06-02 06:40:40   12.9     6  2025-06-02
528089 2025-06-02 11:25:54   76.7    11  2025-06-02
806454 2025-06-02 07:36:11   65.6     7  2025-06-02
479815 2025-06-02 10:54:28   59.7    10  2025-06-02
55719  2025-06-02 01:52:16    1.2     1  2025-06-02

[23598 rows x 4 columns]
before 23599 23440
after 23441 23440
                 timestamp  value  hour        date
979544 2025-06-01 06:13:44   86.0     6  2025-06-01
187666 2025-06-01 11:18:44   22.9    11  2025-06-01
958272 2025-06-01 17:01:18   42.1    17  2025-06-01
219846 2025-06-01 01:39:05   58.9     1  2025-06-01
925359 2025-06-01 23:52:31    2.6    23  2025-06-01
...                    ...    ...   ...         ...
52804  2025-06-02 15:02:24   72.9    15  2025-06-02
268108 2025-06-02 00:28:36   84.9     0  2025-06-02
910846 2025-06-02 02:32:46   74.2     2  2025-06-02
795214 2025-06-02 18:53:38   82.0    18  2025-06-02
531875 2025-06-02 09:42:35   65.1     9  2025-06-02

[23440 rows x 4 columns]
before 23441 23507
after 23508 23507
                 timestamp  value  hour        date
888669 2025-06-01 19:00:14   75.2    19  2025-06-01
184340 2025-06-01 07:11:52   90.7     7  2025-06-01
951439 2025-06-01 00:25:29   41.3     0  2025-06-01
886992 2025-06-01 06:55:36   54.1     6  2025-06-01
957644 2025-06-01 15:45:07   49.1    15  2025-06-01
...                    ...    ...   ...         ...
805629 2025-06-02 18:11:54   59.9    18  2025-06-02
199901 2025-06-02 09:24:59   16.3     9  2025-06-02
311503 2025-06-02 20:10:11    2.2    20  2025-06-02
198716 2025-06-02 13:51:46   53.2    13  2025-06-02
528681 2025-06-02 15:02:10   59.2    15  2025-06-02

[23507 rows x 4 columns]
before 23508 23561
after 23562 23561
                 timestamp  value  hour        date
958062 2025-06-01 11:13:50   41.4    11  2025-06-01
958065 2025-06-01 12:28:09   42.7    12  2025-06-01
893155 2025-06-01 07:18:30   77.8     7  2025-06-01
235463 2025-06-01 15:55:13   66.2    15  2025-06-01
202559 2025-06-01 06:38:16   79.4     6  2025-06-01
...                    ...    ...   ...         ...
794598 2025-06-02 13:34:00   51.9    13  2025-06-02
986095 2025-06-02 18:37:27   13.3    18  2025-06-02
535963 2025-06-02 17:39:44   21.6    17  2025-06-02
642    2025-06-02 15:16:55   30.5    15  2025-06-02
871280 2025-06-02 19:25:25   73.8    19  2025-06-02

[23561 rows x 4 columns]
before 23562 23618
after 23619 23618
                 timestamp  value  hour        date
999846 2025-06-01 07:34:18   28.0     7  2025-06-01
950774 2025-06-01 19:58:56    1.4    19  2025-06-01
958083 2025-06-01 00:11:34   61.3     0  2025-06-01
962712 2025-06-01 13:10:47   55.5    13  2025-06-01
995731 2025-06-01 09:06:29   48.4     9  2025-06-01
...                    ...    ...   ...         ...
536061 2025-06-02 00:53:06    4.2     0  2025-06-02
265124 2025-06-02 06:57:39   94.4     6  2025-06-02
532723 2025-06-02 13:52:33   25.7    13  2025-06-02
443447 2025-06-02 08:44:51    2.3     8  2025-06-02
873192 2025-06-02 03:40:19   34.6     3  2025-06-02

[23618 rows x 4 columns]
before 23619 23424
after 23425 23424
                 timestamp  value  hour        date
925386 2025-06-01 08:57:50   89.2     8  2025-06-01
204566 2025-06-01 14:41:32   21.7    14  2025-06-01
950559 2025-06-01 19:27:23   63.8    19  2025-06-01
219895 2025-06-01 19:25:35    1.5    19  2025-06-01
204567 2025-06-01 13:15:56   99.0    13  2025-06-01
...                    ...    ...   ...         ...
531875 2025-06-02 09:42:35   65.1     9  2025-06-02
483239 2025-06-02 14:40:22   34.3    14  2025-06-02
311565 2025-06-02 03:41:34   25.9     3  2025-06-02
119139 2025-06-02 11:41:30    3.7    11  2025-06-02
443781 2025-06-02 20:46:30   13.9    20  2025-06-02

[23424 rows x 4 columns]
before 23425 23421
after 23422 23421
                 timestamp  value  hour        date
951682 2025-06-01 10:56:02   16.8    10  2025-06-01
951673 2025-06-01 23:50:51   16.5    23  2025-06-01
951671 2025-06-01 04:41:31    2.4     4  2025-06-01
31001  2025-06-01 06:59:09   39.4     6  2025-06-01
924662 2025-06-01 15:14:30   31.7    15  2025-06-01
...                    ...    ...   ...         ...
535498 2025-06-02 05:50:30   12.3     5  2025-06-02
794983 2025-06-02 21:31:59   42.4    21  2025-06-02
997809 2025-06-02 14:36:20   96.1    14  2025-06-02
535437 2025-06-02 12:40:21   93.7    12  2025-06-02
802254 2025-06-02 07:58:45   48.6     7  2025-06-02

[23421 rows x 4 columns]
before 23422 23707
after 23708 23707
                 timestamp  value  hour        date
962129 2025-06-01 06:16:37    0.7     6  2025-06-01
218871 2025-06-01 10:54:17   99.0    10  2025-06-01
892132 2025-06-01 04:57:37   38.5     4  2025-06-01
951682 2025-06-01 10:56:02   16.8    10  2025-06-01
951673 2025-06-01 23:50:51   16.5    23  2025-06-01
...                    ...    ...   ...         ...
443461 2025-06-02 17:55:46   16.9    17  2025-06-02
871218 2025-06-02 12:41:44   62.7    12  2025-06-02
469402 2025-06-02 16:28:38   38.9    16  2025-06-02
806446 2025-06-02 20:46:24    5.2    20  2025-06-02
479826 2025-06-02 13:04:53   46.8    13  2025-06-02

[23707 rows x 4 columns]
before 23708 23596
after 23597 23596
                 timestamp  value  hour        date
6519   2025-06-01 00:10:30   57.4     0  2025-06-01
29415  2025-06-01 06:26:01   31.2     6  2025-06-01
11579  2025-06-01 05:33:34   59.0     5  2025-06-01
29406  2025-06-01 00:42:58    1.4     0  2025-06-01
218731 2025-06-01 23:54:52   56.9    23  2025-06-01
...                    ...    ...   ...         ...
462721 2025-06-03 19:46:17   91.4    19  2025-06-03
468315 2025-06-03 00:50:43   97.9     0  2025-06-03
100377 2025-06-03 12:52:42   41.3    12  2025-06-03
485535 2025-06-03 07:08:23   81.5     7  2025-06-03
634206 2025-06-03 04:48:06   18.4     4  2025-06-03

[23596 rows x 4 columns]
before 23597 23383
after 23384 23383
                 timestamp  value  hour        date
200879 2025-06-01 16:09:52   91.9    16  2025-06-01
214665 2025-06-01 08:29:26   58.9     8  2025-06-01
979544 2025-06-01 06:13:44   86.0     6  2025-06-01
187666 2025-06-01 11:18:44   22.9    11  2025-06-01
958272 2025-06-01 17:01:18   42.1    17  2025-06-01
...                    ...    ...   ...         ...
800690 2025-06-02 11:59:23   11.1    11  2025-06-02
875798 2025-06-02 11:35:01    3.0    11  2025-06-02
4455   2025-06-02 18:48:46   50.5    18  2025-06-02
242920 2025-06-02 17:03:49   32.1    17  2025-06-02
445093 2025-06-02 02:36:07   13.5     2  2025-06-02

[23383 rows x 4 columns]
before 23384 23416
after 23417 23416
                 timestamp  value  hour        date
979130 2025-06-01 00:03:42   46.1     0  2025-06-01
919577 2025-06-01 13:19:28   64.4    13  2025-06-01
218894 2025-06-01 10:01:23   38.0    10  2025-06-01
916093 2025-06-01 19:05:36   38.6    19  2025-06-01
238731 2025-06-01 05:34:32    2.3     5  2025-06-01
...                    ...    ...   ...         ...
307883 2025-06-02 11:22:31   51.4    11  2025-06-02
792959 2025-06-02 21:31:09   90.7    21  2025-06-02
792982 2025-06-02 02:42:30   43.5     2  2025-06-02
792981 2025-06-02 05:41:01   67.4     5  2025-06-02
242656 2025-06-02 14:55:01   78.9    14  2025-06-02

[23416 rows x 4 columns]
before 23417 23553
after 23554 23553
                 timestamp  value  hour        date
218830 2025-06-01 15:19:55   21.2    15  2025-06-01
979152 2025-06-01 15:23:38   26.7    15  2025-06-01
218935 2025-06-01 03:50:44   70.2     3  2025-06-01
892497 2025-06-01 17:53:27   30.9    17  2025-06-01
892174 2025-06-01 02:44:35    9.2     2  2025-06-01
...                    ...    ...   ...         ...
467825 2025-06-02 05:10:56   64.3     5  2025-06-02
890268 2025-06-02 07:56:49   13.4     7  2025-06-02
446747 2025-06-02 23:32:00   52.3    23  2025-06-02
528741 2025-06-02 01:01:28   90.7     1  2025-06-02
530923 2025-06-02 04:08:17   77.1     4  2025-06-02

[23553 rows x 4 columns]
before 23554 23534
after 23535 23534
                 timestamp  value  hour        date
200920 2025-06-01 07:11:35   20.7     7  2025-06-01
999827 2025-06-01 03:00:51   15.2     3  2025-06-01
886505 2025-06-01 06:10:30    4.0     6  2025-06-01
177295 2025-06-01 22:32:45   69.7    22  2025-06-01
976269 2025-06-01 16:13:19   92.0    16  2025-06-01
...                    ...    ...   ...         ...
305366 2025-06-02 09:02:47   37.8     9  2025-06-02
4511   2025-06-02 05:04:37   28.0     5  2025-06-02
794260 2025-06-02 23:11:02   88.3    23  2025-06-02
481183 2025-06-02 18:54:03   83.2    18  2025-06-02
266398 2025-06-02 11:04:08   77.7    11  2025-06-02

[23534 rows x 4 columns]
before 23535 23418
after 23419 23418
                 timestamp  value  hour        date
10401  2025-06-01 06:21:40   57.1     6  2025-06-01
979329 2025-06-01 05:34:56   71.9     5  2025-06-01
979332 2025-06-01 06:10:34   79.9     6  2025-06-01
950776 2025-06-01 08:01:37   99.2     8  2025-06-01
958362 2025-06-01 17:59:20   87.0    17  2025-06-01
...                    ...    ...   ...         ...
984122 2025-06-02 09:51:24   64.5     9  2025-06-02
803030 2025-06-02 16:20:07   10.8    16  2025-06-02
311535 2025-06-02 16:21:53   65.5    16  2025-06-02
911926 2025-06-02 04:00:58   94.9     4  2025-06-02
480174 2025-06-02 21:21:29   53.6    21  2025-06-02

[23418 rows x 4 columns]
before 23419 23509
after 23510 23509
                 timestamp  value  hour        date
218935 2025-06-01 03:50:44   70.2     3  2025-06-01
892497 2025-06-01 17:53:27   30.9    17  2025-06-01
892174 2025-06-01 02:44:35    9.2     2  2025-06-01
962129 2025-06-01 06:16:37    0.7     6  2025-06-01
218871 2025-06-01 10:54:17   99.0    10  2025-06-01
...                    ...    ...   ...         ...
535589 2025-06-02 23:26:15   79.8    23  2025-06-02
481620 2025-06-02 16:33:15   59.5    16  2025-06-02
913141 2025-06-02 03:42:23   74.3     3  2025-06-02
799048 2025-06-02 02:11:30   43.4     2  2025-06-02
872443 2025-06-02 00:32:21   39.9     0  2025-06-02

[23509 rows x 4 columns]
before 23510 23446
after 23447 23446
                 timestamp  value  hour        date
893155 2025-06-01 07:18:30   77.8     7  2025-06-01
235463 2025-06-01 15:55:13   66.2    15  2025-06-01
202559 2025-06-01 06:38:16   79.4     6  2025-06-01
13868  2025-06-01 09:23:39   76.1     9  2025-06-01
254699 2025-06-01 07:03:05   59.3     7  2025-06-01
...                    ...    ...   ...         ...
911926 2025-06-02 04:00:58   94.9     4  2025-06-02
480174 2025-06-02 21:21:29   53.6    21  2025-06-02
795304 2025-06-02 03:29:59   96.8     3  2025-06-02
242907 2025-06-02 00:36:21    4.0     0  2025-06-02
997772 2025-06-02 20:07:10   62.1    20  2025-06-02

[23446 rows x 4 columns]
before 23447 23567
after 23568 23567
                 timestamp  value  hour        date
184292 2025-06-01 02:36:19   93.5     2  2025-06-01
919745 2025-06-01 15:48:33   68.1    15  2025-06-01
892312 2025-06-01 05:21:27   75.9     5  2025-06-01
184285 2025-06-01 23:17:13   10.8    23  2025-06-01
214937 2025-06-01 22:58:31   13.0    22  2025-06-01
...                    ...    ...   ...         ...
52775  2025-06-02 11:56:20   72.0    11  2025-06-02
468691 2025-06-02 16:18:39   57.7    16  2025-06-02
305662 2025-06-02 23:23:49   69.8    23  2025-06-02
256331 2025-06-02 07:53:46   49.7     7  2025-06-02
871561 2025-06-02 15:49:59   43.4    15  2025-06-02

[23567 rows x 4 columns]
before 23568 23567
after 23568 23567
                 timestamp  value  hour        date
1069   2025-06-01 01:56:11   78.8     1  2025-06-01
886383 2025-06-01 17:16:20   84.3    17  2025-06-01
920129 2025-06-01 05:20:26   85.1     5  2025-06-01
254707 2025-06-01 18:20:12   31.3    18  2025-06-01
180528 2025-06-01 00:51:56   73.7     0  2025-06-01
...                    ...    ...   ...         ...
528089 2025-06-02 11:25:54   76.7    11  2025-06-02
806454 2025-06-02 07:36:11   65.6     7  2025-06-02
479815 2025-06-02 10:54:28   59.7    10  2025-06-02
55719  2025-06-02 01:52:16    1.2     1  2025-06-02
312185 2025-06-02 16:20:23   11.7    16  2025-06-02

[23567 rows x 4 columns]
before 23568 23479
after 23480 23479
                 timestamp  value  hour        date
1069   2025-06-01 01:56:11   78.8     1  2025-06-01
886383 2025-06-01 17:16:20   84.3    17  2025-06-01
920129 2025-06-01 05:20:26   85.1     5  2025-06-01
254707 2025-06-01 18:20:12   31.3    18  2025-06-01
180528 2025-06-01 00:51:56   73.7     0  2025-06-01
...                    ...    ...   ...         ...
443781 2025-06-02 20:46:30   13.9    20  2025-06-02
481563 2025-06-02 13:16:59   70.7    13  2025-06-02
528556 2025-06-02 14:21:53   20.7    14  2025-06-02
911091 2025-06-02 07:46:39   40.3     7  2025-06-02
52790  2025-06-02 07:00:12   30.2     7  2025-06-02

[23479 rows x 4 columns]
before 23480 23560
after 23561 23560
                 timestamp  value  hour        date
258744 2025-06-01 15:39:46   57.0    15  2025-06-01
887047 2025-06-01 18:05:22   29.9    18  2025-06-01
214982 2025-06-01 09:16:25   90.3     9  2025-06-01
996191 2025-06-01 11:35:47    9.2    11  2025-06-01
185082 2025-06-01 16:03:55   56.2    16  2025-06-01
...                    ...    ...   ...         ...
268108 2025-06-02 00:28:36   84.9     0  2025-06-02
910846 2025-06-02 02:32:46   74.2     2  2025-06-02
795214 2025-06-02 18:53:38   82.0    18  2025-06-02
531875 2025-06-02 09:42:35   65.1     9  2025-06-02
483239 2025-06-02 14:40:22   34.3    14  2025-06-02

[23560 rows x 4 columns]
before 23561 23589
after 23590 23589
                 timestamp  value  hour        date
915537 2025-06-01 19:49:32    5.6    19  2025-06-01
999846 2025-06-01 07:34:18   28.0     7  2025-06-01
950774 2025-06-01 19:58:56    1.4    19  2025-06-01
958083 2025-06-01 00:11:34   61.3     0  2025-06-01
962712 2025-06-01 13:10:47   55.5    13  2025-06-01
...                    ...    ...   ...         ...
307580 2025-06-02 18:54:27   18.8    18  2025-06-02
806457 2025-06-02 15:46:01   74.8    15  2025-06-02
488    2025-06-02 12:35:20   73.2    12  2025-06-02
806459 2025-06-02 20:50:02   85.8    20  2025-06-02
52584  2025-06-02 01:54:34   39.8     1  2025-06-02

[23589 rows x 4 columns]
before 23590 23418
after 23419 23418
                 timestamp  value  hour        date
202589 2025-06-01 00:54:34   52.8     0  2025-06-01
259161 2025-06-01 12:45:35   81.9    12  2025-06-01
893313 2025-06-01 09:03:54    6.9     9  2025-06-01
893314 2025-06-01 03:28:14   49.1     3  2025-06-01
999944 2025-06-01 14:30:07   74.4    14  2025-06-01
...                    ...    ...   ...         ...
535333 2025-06-02 08:36:59    5.1     8  2025-06-02
307059 2025-06-02 17:12:34   49.2    17  2025-06-02
198694 2025-06-02 05:07:43   34.5     5  2025-06-02
800745 2025-06-02 23:46:35   88.8    23  2025-06-02
535335 2025-06-02 01:16:57   58.8     1  2025-06-02

[23418 rows x 4 columns]
before 23419 23380
after 23381 23380
                 timestamp  value  hour        date
218935 2025-06-01 03:50:44   70.2     3  2025-06-01
892497 2025-06-01 17:53:27   30.9    17  2025-06-01
892174 2025-06-01 02:44:35    9.2     2  2025-06-01
962129 2025-06-01 06:16:37    0.7     6  2025-06-01
218871 2025-06-01 10:54:17   99.0    10  2025-06-01
...                    ...    ...   ...         ...
33748  2025-06-02 06:44:33   50.3     6  2025-06-02
307883 2025-06-02 11:22:31   51.4    11  2025-06-02
792959 2025-06-02 21:31:09   90.7    21  2025-06-02
792982 2025-06-02 02:42:30   43.5     2  2025-06-02
792981 2025-06-02 05:41:01   67.4     5  2025-06-02

[23380 rows x 4 columns]
before 23381 23718
after 23719 23718
                 timestamp  value  hour        date
31009  2025-06-01 22:00:31   30.5    22  2025-06-01
962321 2025-06-01 18:55:08   21.9    18  2025-06-01
13618  2025-06-01 09:06:21    3.2     9  2025-06-01
979130 2025-06-01 00:03:42   46.1     0  2025-06-01
919577 2025-06-01 13:19:28   64.4    13  2025-06-01
...                    ...    ...   ...         ...
467772 2025-06-02 16:47:24   19.8    16  2025-06-02
535943 2025-06-02 19:33:51   96.9    19  2025-06-02
528205 2025-06-02 03:40:36   48.4     3  2025-06-02
799098 2025-06-02 14:45:51   51.5    14  2025-06-02
985147 2025-06-02 10:57:37   15.2    10  2025-06-02

[23718 rows x 4 columns]
before 23719 23648
after 23649 23648
                 timestamp  value  hour        date
254949 2025-06-01 01:21:08   10.2     1  2025-06-01
950852 2025-06-01 12:58:53   21.0    12  2025-06-01
29655  2025-06-01 19:33:45   55.8    19  2025-06-01
958384 2025-06-01 17:32:46   94.3    17  2025-06-01
254986 2025-06-01 08:39:18   53.8     8  2025-06-01
...                    ...    ...   ...         ...
396007 2025-06-03 11:25:58   22.9    11  2025-06-03
999441 2025-06-03 22:26:31   43.6    22  2025-06-03
399783 2025-06-03 11:09:48    4.7    11  2025-06-03
485549 2025-06-03 13:36:57   39.5    13  2025-06-03
633881 2025-06-03 16:11:29   80.9    16  2025-06-03

[23648 rows x 4 columns]
before 23649 23507
after 23508 23507

23860