In [1]:
import pandas as pd

df = pd.read_excel("./files/time_series.xlsx")
df.head(10)

            timestamp value
0 2025-06-28 12:00:52  18.5
1 2025-06-01 04:17:23  46.3
2 2025-06-10 17:02:57    76
3 2025-06-23 05:23:22  56.4
4 2025-06-05 07:20:08  67.9
5 2025-06-26 22:27:02    87
6 2025-06-06 01:15:50  12.6
7 2025-06-07 05:18:46  51.3
8 2025-06-19 04:31:51  52.9
9 2025-06-13 02:58:59  44.3

In [2]:
# for i in range(int(df.shape[0])): 
#     if(df["timestamp"][i:i+1].dtype!='datetime64[ns]'):
#         df["valid"] = False
#         print(i)
#     else:
#         df["valid"] = True
    
print(df.head())
# datetime64[ns] אחרי בדיקה שסוג העמודה הוא 
df_datesOnFormat = df[df['timestamp'].isna() == False]
print(df_datesOnFormat.shape)

            timestamp value
0 2025-06-28 12:00:52  18.5
1 2025-06-01 04:17:23  46.3
2 2025-06-10 17:02:57    76
3 2025-06-23 05:23:22  56.4
4 2025-06-05 07:20:08  67.9
(1000000, 2)

In [3]:
# df_datesOnFormat = df[df['valid']== True]
# print(df_datesOnFormat)
boolean = df_datesOnFormat.duplicated(subset=['timestamp']).any()
print(boolean)
df_datesOnFormat["timestamp"].value_counts()

True

2025-06-26 03:00:40    6
2025-06-28 10:00:19    6
2025-06-27 13:47:46    6
2025-06-02 20:42:15    6
2025-06-24 08:34:45    6
                      ..
2025-06-27 19:46:44    1
2025-06-08 20:32:54    1
2025-06-03 13:21:01    1
2025-06-25 17:18:58    1
2025-06-10 08:36:18    1
Name: timestamp, Length: 829625, dtype: int64

In [5]:
if(boolean):
    df_filtered_duplicates = df_datesOnFormat.drop_duplicates(subset=['timestamp'], keep='last')
df_filtered_duplicates["timestamp"].value_counts()

df_filtered_duplicates['value'] = pd.to_numeric(df_filtered_duplicates['value'], errors='coerce')
df_filtered = df_filtered_duplicates.dropna(subset=['value'])
print(df_filtered)

                 timestamp  value
1      2025-06-01 04:17:23   46.3
2      2025-06-10 17:02:57   76.0
3      2025-06-23 05:23:22   56.4
5      2025-06-26 22:27:02   87.0
7      2025-06-07 05:18:46   51.3
...                    ...    ...
999994 2025-06-19 09:33:44   77.1
999995 2025-06-21 18:41:04   44.8
999997 2025-06-24 18:51:12    3.9
999998 2025-06-10 08:36:18   77.0
999999 2025-06-05 22:30:46   43.3

[706045 rows x 2 columns]

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_25468\2787305380.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_duplicates['value'] = pd.to_numeric(df_filtered_duplicates['value'], errors='coerce')

In [6]:
df_filtered['hour'] = df_filtered['timestamp'].dt.hour
df_filtered['date'] = df_filtered['timestamp'].dt.date
sum_result = df_filtered[['date', 'hour','value']].groupby(['date','hour']).sum()
print(sum_result)

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_25468\3460801651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['hour'] = df_filtered['timestamp'].dt.hour

                   value
date       hour
2025-06-01 0     52407.0
           1     51202.6
           2     49367.3
           3     52168.9
           4     47693.8
...                  ...
2025-06-30 19    46656.9
           20    49080.1
           21    50273.3
           22    49755.2
           23    50760.5

[720 rows x 1 columns]

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_25468\3460801651.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['timestamp'].dt.date

In [58]:
def split_df_to_excel_files_byRange(df, rows_range, path ):
    index = 0;
    for j in range(rows_range.shape[0]):
        df_to_excel = df[index:index+rows_range[j]]
        print("from",index , "to",index+rows_range[j] )
        index = index + rows_range[j]
        
#         print("after",index,rows_range[j])
 
                
    #         print("i",i)
        #     print(df[i:])
        #     print(df_to_excel)
#             df_to_excel.to_excel(f"./files/logs/log{i}.xlsx", sheet_name="data", index=False, header=False)
        df_to_excel.to_excel(f"{path}{j+1}.xlsx", sheet_name="data", index=False)

In [59]:
sum_result1 = df_filtered[['date', 'hour','value']].groupby(['date']).count()
print(sum_result1)
df_sorted = df_filtered.sort_values('date')    
# df_sorted.to_excel(f"files/file.xlsx", sheet_name="data", index=False)


split_df_to_excel_files_byRange(df_sorted, sum_result1['hour'] , "./files/time_serieses/time_series" )
23860

             hour  value
date
2025-06-01  23861  23861
2025-06-02  23436  23436
2025-06-03  23649  23649
2025-06-04  23535  23535
2025-06-05  23598  23598
2025-06-06  23440  23440
2025-06-07  23507  23507
2025-06-08  23561  23561
2025-06-09  23618  23618
2025-06-10  23424  23424
2025-06-11  23421  23421
2025-06-12  23707  23707
2025-06-13  23596  23596
2025-06-14  23383  23383
2025-06-15  23416  23416
2025-06-16  23553  23553
2025-06-17  23534  23534
2025-06-18  23418  23418
2025-06-19  23509  23509
2025-06-20  23446  23446
2025-06-21  23567  23567
2025-06-22  23567  23567
2025-06-23  23479  23479
2025-06-24  23560  23560
2025-06-25  23589  23589
2025-06-26  23418  23418
2025-06-27  23380  23380
2025-06-28  23718  23718
2025-06-29  23648  23648
2025-06-30  23507  23507
from 0 to 23861

Exception ignored in: <function ZipFile.__del__ at 0x0000015E25B61800>
Traceback (most recent call last):
  File "C:\Users\Public\Documents\py\Lib\zipfile.py", line 1872, in __del__
    self.close()
  File "C:\Users\Public\Documents\py\Lib\zipfile.py", line 1889, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

from 23861 to 47297
from 47297 to 70946
from 70946 to 94481
from 94481 to 118079
from 118079 to 141519
from 141519 to 165026
from 165026 to 188587
from 188587 to 212205
from 212205 to 235629
from 235629 to 259050
from 259050 to 282757
from 282757 to 306353
from 306353 to 329736
from 329736 to 353152
from 353152 to 376705
from 376705 to 400239
from 400239 to 423657
from 423657 to 447166
from 447166 to 470612
from 470612 to 494179
from 494179 to 517746
from 517746 to 541225
from 541225 to 564785
from 564785 to 588374
from 588374 to 611792
from 611792 to 635172
from 635172 to 658890
from 658890 to 682538
from 682538 to 706045

23860