In [16]:
import pandas as pd

df = pd.read_excel("./files/time_series.xlsx")
df.head(10)

            timestamp value
0 2025-06-28 12:00:52  18.5
1 2025-06-01 04:17:23  46.3
2 2025-06-10 17:02:57    76
3 2025-06-23 05:23:22  56.4
4 2025-06-05 07:20:08  67.9
5 2025-06-26 22:27:02    87
6 2025-06-06 01:15:50  12.6
7 2025-06-07 05:18:46  51.3
8 2025-06-19 04:31:51  52.9
9 2025-06-13 02:58:59  44.3

In [17]:
from datetime import date
for i in range(int(df.shape[0])): 
#     print(df["timestamp"][i:i+1].dtype)
    if(df["timestamp"][i:i+1].dtype!='datetime64[ns]'):
        df["valid"] = False
        print(i)
    else:
        df["valid"] = True

In [70]:
df_datesOnFormat = df[df['valid']== True]
print(df_datesOnFormat)
boolean = df_datesOnFormat.duplicated(subset=['timestamp']).any()
print(boolean)
df_datesOnFormat["timestamp"].value_counts()

                 timestamp value  valid
0      2025-06-28 12:00:52  18.5   True
1      2025-06-01 04:17:23  46.3   True
2      2025-06-10 17:02:57    76   True
3      2025-06-23 05:23:22  56.4   True
4      2025-06-05 07:20:08  67.9   True
...                    ...   ...    ...
999995 2025-06-21 18:41:04  44.8   True
999996 2025-06-26 21:09:47   NaN   True
999997 2025-06-24 18:51:12   3.9   True
999998 2025-06-10 08:36:18    77   True
999999 2025-06-05 22:30:46  43.3   True

[1000000 rows x 3 columns]
True

2025-06-26 03:00:40    6
2025-06-28 10:00:19    6
2025-06-27 13:47:46    6
2025-06-02 20:42:15    6
2025-06-24 08:34:45    6
                      ..
2025-06-27 19:46:44    1
2025-06-08 20:32:54    1
2025-06-03 13:21:01    1
2025-06-25 17:18:58    1
2025-06-10 08:36:18    1
Name: timestamp, Length: 829625, dtype: int64

In [89]:

print(df.shape)
if(boolean):
    df_filtered_duplicates = df_datesOnFormat.drop_duplicates(subset=['timestamp'], keep='last')
    print("droped")
df_filtered_duplicates["timestamp"].value_counts()
# print(df_filtered_duplicates)

# df_filtered = df_filtered_duplicates[is_numeric_dtype(df_filtered_duplicates['value'])]

# df_filtered = df_filtered_duplicates[df_filtered_duplicates['value'] is not isinstance(int, float)]

df_filtered = df_filtered_duplicates[df_filtered_duplicates['value'].notna()]
print(df_filtered)

(1000000, 3)
droped
                 timestamp value  valid
1      2025-06-01 04:17:23  46.3   True
2      2025-06-10 17:02:57    76   True
3      2025-06-23 05:23:22  56.4   True
5      2025-06-26 22:27:02    87   True
7      2025-06-07 05:18:46  51.3   True
...                    ...   ...    ...
999994 2025-06-19 09:33:44  77.1   True
999995 2025-06-21 18:41:04  44.8   True
999997 2025-06-24 18:51:12   3.9   True
999998 2025-06-10 08:36:18    77   True
999999 2025-06-05 22:30:46  43.3   True

[747462 rows x 3 columns]

In [90]:
df_filtered['timestamp']
df_filtered['hour'] = df_filtered['timestamp'].dt.hour
df_filtered['date'] = df_filtered['timestamp'].dt.date
# print(df_filtered)
# result_df = df_filtered.groupby(['date']).mean(df_filtered['value'])
# df_filtered.index = to_datetime(df.index)
# result_df = df_filtered.groupby(df_filtered['date']).sum('value')
# result_df = df_filtered.groupby(['date','hour'])['value'].sum()
# result_df = df_filtered.groupby(['date']).mean()
# result_df = df_filtered.mean()
# count_result = df_filtered[['date', 'hour','value']].groupby(['date','hour']).count()
sum_result = df_filtered[['date', 'hour','value']].groupby(['date','hour']).sum()

# result_df = df_filtered.groupby('date', 'hour').sum()

print(sum_result)

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_13868\2795562754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['hour'] = df_filtered['timestamp'].dt.hour
C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_13868\2795562754.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = df_filtered['timestamp'].dt.date

Empty DataFrame
Columns: []
Index: [(2025-06-01, 0), (2025-06-01, 1), (2025-06-01, 2), (2025-06-01, 3), (2025-06-01, 4), (2025-06-01, 5), (2025-06-01, 6), (2025-06-01, 7), (2025-06-01, 8), (2025-06-01, 9), (2025-06-01, 10), (2025-06-01, 11), (2025-06-01, 12), (2025-06-01, 13), (2025-06-01, 14), (2025-06-01, 15), (2025-06-01, 16), (2025-06-01, 17), (2025-06-01, 18), (2025-06-01, 19), (2025-06-01, 20), (2025-06-01, 21), (2025-06-01, 22), (2025-06-01, 23), (2025-06-02, 0), (2025-06-02, 1), (2025-06-02, 2), (2025-06-02, 3), (2025-06-02, 4), (2025-06-02, 5), (2025-06-02, 6), (2025-06-02, 7), (2025-06-02, 8), (2025-06-02, 9), (2025-06-02, 10), (2025-06-02, 11), (2025-06-02, 12), (2025-06-02, 13), (2025-06-02, 14), (2025-06-02, 15), (2025-06-02, 16), (2025-06-02, 17), (2025-06-02, 18), (2025-06-02, 19), (2025-06-02, 20), (2025-06-02, 21), (2025-06-02, 22), (2025-06-02, 23), (2025-06-03, 0), (2025-06-03, 1), (2025-06-03, 2), (2025-06-03, 3), (2025-06-03, 4), (2025-06-03, 5), (2025-06-03, 6), (2025-06-03, 7), (2025-06-03, 8), (2025-06-03, 9), (2025-06-03, 10), (2025-06-03, 11), (2025-06-03, 12), (2025-06-03, 13), (2025-06-03, 14), (2025-06-03, 15), (2025-06-03, 16), (2025-06-03, 17), (2025-06-03, 18), (2025-06-03, 19), (2025-06-03, 20), (2025-06-03, 21), (2025-06-03, 22), (2025-06-03, 23), (2025-06-04, 0), (2025-06-04, 1), (2025-06-04, 2), (2025-06-04, 3), (2025-06-04, 4), (2025-06-04, 5), (2025-06-04, 6), (2025-06-04, 7), (2025-06-04, 8), (2025-06-04, 9), (2025-06-04, 10), (2025-06-04, 11), (2025-06-04, 12), (2025-06-04, 13), (2025-06-04, 14), (2025-06-04, 15), (2025-06-04, 16), (2025-06-04, 17), (2025-06-04, 18), (2025-06-04, 19), (2025-06-04, 20), (2025-06-04, 21), (2025-06-04, 22), (2025-06-04, 23), (2025-06-05, 0), (2025-06-05, 1), (2025-06-05, 2), (2025-06-05, 3), ...]

[720 rows x 0 columns]

C:\Users\משפחת ספראי\AppData\Local\Temp\ipykernel_13868\2795562754.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sum_result = df_filtered[['date', 'hour','value']].groupby(['date','hour']).sum()